{
    "issueUpdates": [
       {{$first := true}}
       {{- range $key, $value := .StoryPoints }}
        {{if $first}}{{$first = false}}{{else}},{{end}}
            {
                "fields": {
                    {{if eq $key "QA"}}
                        "summary": "QA Manual Testing: {{$.Parent.Fields.Summary}}",
                    {{else if eq $key "TC"}}
                        "summary": "QA TC Creation: {{$.Parent.Fields.Summary}}",
                    {{else}}
                        "summary": "{{$key}}: {{$.Parent.Fields.Summary}}",
                    {{end}}
                    "customfield_10004": {{$value}},
                    "issuetype": {
                        "id": "5"
                    },
                    "project": {
                        "id": "{{$.Parent.Fields.Project.Id}}"
                    },
                    "parent": {
                        "id": "{{$.Parent.Key}}"
                    }
                }
            }
        {{- end}}
    ]
}